{% load static %}
<!-- info section -->
  <section class="info_section ">
    <div class="container text-right">
      <div class="row  mb-4 pb-4">
        <div class="col-md-4 info_logo">
          <div class="logo-box">
            <img src="{% static 'images/logo-white.png' %}" alt="">
            <span>
              ZarifKala
            </span>
          </div>
          <p>
            حمل و جابجایی کلیه اثاثیه خانگی و دفتری به تمام نقاط کشور
          </p>
          <div class="info_social text-right">
            <div>
              <a href="">
                <img src="{% static 'images/fb.png' %}" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="{% static 'images/twitter.png' %}" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="{% static 'images/g-plus.png' %}" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="{% static 'images/linkedin.png' %}" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 info_address text-right">
          <h5>
            شعبه مرکزی
          </h5>
          <p>
            (021) 22431500
          </p>
          <h5>
            شمال تهران
          </h5>
          <p>
            (021) 44487964
          </p>
          <h5>
            غرب تهران
          </h5>
          <p>
            (021) 44487964
          </p>
          <p>
          </p>
        </div>
        <div class="col-md-4 info_links">

          <div class="info_nav text-right">
            <nav class="">
              <ul>
                <h5>
                  خدمات
                </h5>
                <li>
                  <a href="index.html"> حمل بار</a>
                </li>
                <li>
                  <a href="about.html">جابجایی</a>
                </li>
                <li>
                  <a href="service.html"> بسته بندی</a>
                </li>
                <li>
                  <a href="service.html"> چیدمان</a>
                </li>
                <li>
                  <a href="shop.html"> کارگر</a>
                </li>
                <li>
                  <a href="company.html"> درون شهری</a>
                </li>
                <li>
                  <a href="contact.html">برون شهری </a>
                </li>

              </ul>
            </nav>
          </div>
        </div>
       
    </div>
  </section>
  <!-- end info section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      
      <a href="https://pyngoweb.ir/">  ساخت و طراحی شرکت فنی و مهندسی پینگو وب</a>
    </p>
  </section>
  <!-- footer section -->