{% extends 'base.html' %}
{% load static %}

{% block meta_description %}               اگر باری برای حمل دارید و انتقال صحیح و به موقع آن برای شما بسیار ارزشمند است ، انتقال بار خود را به یک باربری مطمئن و با اعتبار بسپارید. شرکت های معتبر برای بالا بردن درصد اعتبار خود تمام تلاش خویش را به کار می گیرند تا با ایمن ترین و مطمئن ترین حالت ممکن بار مشتری را در بهترین زمان ممکن به مقصد برساند و رضایت مشتری را جلب نماید.
{% endblock meta_description %}
{% block meta_keywords %}ظریف کالا,باربری,حمل کالا,چیدمان,بسته بندی اثاثیه,باربر,باربری تهران,حمل اثاثیه,حمل و نقل,جابجایی کالا,کارگر باربری,اتوبار,اتوبار ظریف کالا,ظریف بار {% endblock meta_keywords %}

{% block body %}
  
  <!-- about section --><br>
  <section class="about_section ">
    <div class="container">
      <div class="row">
        <div class="text-right">
          <h2 class="heading_style">
             ظریف کالا
          </h2>
          <p>
            حمل و جابجایی کلیه اثاثیه خانگی و اداری به تمام نقاط کشور نیروی متخصص و جوان حمل بار خود را به نیروی های متخصص و جوان ما بسپارید
          </p>
        </div>
      </div>
      <div class="row" style='background-color:#02caf0;'>
        <div class="col-md-6">
          <div class="about_img-box" >

            <img  src="{% static 'images/slider1.png' %}" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-md-6 about_detail">
          <div class="about_detail-box">
            <h3>
                 ظریف کالا
            </h3>
            <p class='text-justify'>
              اگر باری برای حمل دارید و انتقال صحیح و به موقع آن برای شما بسیار ارزشمند است ، انتقال بار خود را به یک باربری مطمئن و با اعتبار بسپارید. شرکت های معتبر برای بالا بردن درصد اعتبار خود تمام تلاش خویش را به کار می گیرند تا با ایمن ترین و مطمئن ترین حالت ممکن بار مشتری را در بهترین زمان ممکن به مقصد برساند و رضایت مشتری را جلب نماید.
              <span style='color:green'>  ظریف کالا سلامت کالا و اثاثیه شما را تضمین می کند</span>
            </p>
            <h3>
               ناوگان حمل و نقل
            </h3>
            <p class='text-justify'>
             ظریف کالا دارای انواع کامیون های مسقف و موکت کاری شده 6 متری است. تمامی کامیون ها و کامیونت ها مجهز به تعداد زیادی پتو هستند تا از ضربه و آسیب رسیدن به وسایل شما جلوگیری به عمل آید.
            <span style='color:green'>  حمل و جابجایی کامل اثاثیه ها و کالا ها</span>
            </p>
          <h3>
            بسته بندی، حمل نقل، چیدمان

          </h3>
          <p class='text-justify'>
            بسته بندی لوازم منزل و اثاثیه با رعایت استانداردهای آن باعث میگردد که وسایل شما بدون آسیب به محل جدید منتقل شود. کارتن های محکم، چسب و سلفون، بسته های حمل رختخواب، کارتن رگال دار مخصوص البسه و همینطور روشی مناسب برای جمع آوری اثاثیه، کمک می کنند تا اسباب کشی با سرعت و بدون خسارت و آسیب جسمی به پایان برسد
            <span style='color:green'>هدف ما فقط جلب رضایت مشتریان است</span>
          </p>
            <div class="d-flex  justify-content-end">
              
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- end about section -->

  <!-- service section -->
  <section class="service_section layout_padding">
    <div class="container">
      <div class="d-flex justify-content-center">
        <h2 class="heading_style">
          خدمات ما
        </h2>
      </div>
      <div class="row layout_padding2-top">
        <div class="col-md-4">
          <div class="service_img-box s-b-2">
            <img src="{% static 'images/slider2.png' %}" style='width:100%;height:60%' alt="">
            <div class="d-flex">
              <h3>
                حمل بار

              </h3>
            </div>
          </div>
          <div class="service-detail text-justify">
            <p>
               ظریف کالا دارای انواع کامیون های مسقف و موکت کاری شده 6 متری است. تمامی کامیون ها و کامیونت ها مجهز به تعداد زیادی پتو هستند تا از ضربه و آسیب رسیدن به وسایل شما جلوگیری به عمل آید.
            </p>
            <div class="d-flex justify-content-end">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service_img-box s-b-2" style='width:65%'>
            <img src="{% static 'images/carton.png' %}" style='height:60%; width:155%' alt="">
            <div class="d-flex">
              <h3>
              بسته بندی
              </h3>
            </div>
          </div>
          <div class="service-detail text-justify">
            <p>
              بسته بندی لوازم منزل و اثاثیه با رعایت استانداردهای آن باعث میگردد که وسایل شما بدون آسیب به محل جدید منتقل شود. کارتن های محکم، چسب و سلفون، بسته های حمل رختخواب، کارتن رگال دار مخصوص البسه و همینطور روشی مناسب برای جمع آوری اثاثیه، کمک می کنند تا اسباب کشی با سرعت و بدون خسارت و همینطور آسیب جسمی به پایان برسد
            </p>
            <div class="d-flex justify-content-end">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service_img-box s-b-3">
            <img src="{% static 'images/employ.png' %}" style='height:60%' alt="">
            <div class="d-flex">
              <h3>
                کارگر
              </h3>
            </div>
          </div>
          <div class="service-detail text-justify">
            <p>
              اگر بدنبال یک تیم معتبر و متخصص در زمینه اسباب کشی و  لوازم منزل هستید ظریف کالا بهترین انتخاب شما خواهد بود. جهت سفارش خدمات اثاث کشی لوازم منزل و اداری در تهران با شماره تلفنهای باربری و اتوبار ظریف کالا تهران  تماس حاصل نمایید.            </p>
            <div class="d-flex justify-content-end">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end service section -->


  <!-- shop section -->
  <section class="shop_section">
    <div class="container">
      <div class="d-flex justify-content-center">
        <h2 class="heading_style">
          تخفیفات ما
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6 text-right">
          <div class="d-flex align-items-center h-100">
            <div class="shop-detail">
              <h5>
                تخفیفات ویژه ما
              </h5>
              <p>
                تمامی خدمات ما دارای 10 درصد تخفیف نسبت به تعرفه اتحادیه حمل و نقل می باشد <br>
                در صورتی که عضو مشتریان دایم خدمات ما باشید نیز 10 درصد دیگر نیز به به تعرفه تخفیف افزوده میگردد <br>
                علاوه بر این شما می توانید از تخفیف مهمان ما نیز بهرمند شوید کافیست که معرف شما  به ما یکی از مشتریان همیشگی ما باشد
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="shop_img-box">
            <img src="{% static 'images/gift.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end shop section -->

  <!-- testimonial section -->
  
  <!-- company section --> <br><br>
  <section class="company_section layout_padding2">
    <div class="container ">
      <div class="row">
        <div class="col-md-6 text-center">
          <div class="d-flex align-items-center h-100">
            <div class="company-detail">
              <h3>
                شرکت حمل و نقل ظریف کالا
              </h3>
              <p>
                شرکت حمل و نقل ظریف کالا دارای کسب پروانه اتحادیه باربران کشور می باشد این مجموعه در سال ۱۳۸۰ با هدف ارايه خدمت به هم میهنان عزیز فعالیت خود را شروع کرده همچنان با گسترش دامنه فعالیت و خدمات خود در کنار شما عزیزان برای خدمت رسانی قرار داریم
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="company_img-box">
            <img src="{% static 'images/truck.png' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end company section -->



  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="d-flex justify-content-center">
      <h2 class="heading_style">
        راه ارتباطی 
      </h2>
    </div>
    <div class="container layout_padding2-top">
      <div class="row">
        <div class="col-md-6">
          <div id="map" class="h-100 w-100"></div>
        </div>

        <div class="col-md-6">
          <div class="contact_form-container text-center">
              <div>لطفا جهت تماس  شعبه مورد نظر خود را 
                <h2>کلیک کنید</h2>               
              </div> <br>
              <div>
                : شعبه مرکزی<br>
                <a href='tel:02122431500' style='color:red'>(021) 22431500</a>
              </div> <br>
              <div>
                :شمال تهران<br>
               <a href='tel:02122740311' style='color:red'> (021) 22740311 </a>
              </div> <br>
              <div>
                :غرب تهران<br>
                <a href='tel:02144487964' style='color:red'> (021) 44487964</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

{% endblock %}